<!DOCTYPE html>
<html lang="en" prefix="fb: http://www.facebook.com/2008/fbml og: http://opengraphprotocol.org/schema/">
<head>
  <!-- build %%buildVersion%% %%phpVersionId%% -->
  <!-- LM %%lastModified%% -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="keywords" content="">
  <meta name="title" content="">
  <meta name="description" content="">
  <meta name="robots" content="nofollow">
  <meta property="og:site_name" content="Census Bureau QuickFacts">
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:locale" content="en_US">
  <meta property="og:url" content="">
  <meta property="og:image" content="https:%%webhost%%%%imagesBaseDir%%census-logo-fb1.png">
  <title></title>
  <link rel="preload" href="%%cssBaseDir%%main.min.css" as="style" />
  <link rel="preload" href="%%cssBaseDir%%base.css" as="style" />
  <link rel="preload" href="%%cssBaseDir%%max.css" as="style" />
  <link rel="preload" href="%%cssBaseDir%%min.css" as="style" />
  <link rel="preload" href="%%cssBaseDir%%min700.css" as="style" />
  <link rel="preload" href="%%cssBaseDir%%max890.css" as="style" />
  <link rel="preload" href="%%cssBaseDir%%max790.css" as="style" />
  <link rel="preload" href="%%cssBaseDir%%max700.css" as="style" />
  <link rel="preload" href="%%cssBaseDir%%max390.css" as="style" />
  <link rel="preload" href="%%cssBaseDir%%max350.css" as="style" />
  <link rel="preload" href="%%cssBaseDir%%balloon.css" as="style" />
  <link rel="preload" href="%%cssBaseDir%%icon-th.min.css" as="style" />
  <link rel="preload" href="%%cssBaseDir%%animation.css" as="style" />
  <link rel="preload" href="%%cssBaseDir%%jquery-ui.min.css" as="style" fetchpriority="high" media="all" onload="this.rel='stylesheet';this.onload=null;" />
  <link rel="preload" href="%%cssBaseDir%%jquery-ui.structure.min.css" as="style" fetchpriority="high" media="all" onload="this.rel='stylesheet';this.onload=null;" />
  <link rel="preload" href="%%cssBaseDir%%jquery-ui.theme.min.css" as="style" fetchpriority="high" media="all" onload="this.rel='stylesheet';this.onload=null;" />
  <link rel="preload" href="%%cssBaseDir%%fontello.min.css" as="style" fetchpriority="low" media="all" onload="this.rel='stylesheet';this.onload=null;" />
  <link rel="preload" href="%%cssBaseDir%%print.css" as="style" fetchpriority="low" media="print" onload="this.rel='stylesheet';this.onload=null;" />
  <noscript>
    <link rel="stylesheet" href="%%cssBaseDir%%jquery-ui.min.css" media="all" />
    <link rel="stylesheet" href="%%cssBaseDir%%jquery-ui.structure.min.css" media="all" />
    <link rel="stylesheet" href="%%cssBaseDir%%jquery-ui.theme.min.css" media="all" />
    <link rel="stylesheet" href="%%cssBaseDir%%fontello.min.css" fetchpriority="low" media="all" />
    <link rel="stylesheet" href="%%cssBaseDir%%print.css" fetchpriority="low" media="print" />
  </noscript>
  <link rel="preload" href="%%jsBaseDir%%jquery-3.7.1.min.js" as="script" >
  <link rel="preload" href="%%jsBaseDir%%jquery-ui.min.js" as="script">
  <link rel="icon" type="image/vnd.microsoft.icon" href="%%faviconPath%%" />
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="%%faviconPath%%" />
  <link rel="stylesheet" href="%%cssBaseDir%%main.min.css">
  <script id="%%cssPrefix%%mvc"></script>
  <script id="%%cssPrefix%%jsparams"></script>
  <script src="%%jsBaseDir%%jquery-3.7.1.min.js"></script>
  <script src="%%jsBaseDir%%jquery-ui.min.js"></script>
  <script defer>var $QF = $.noConflict(); </script>
  <script src="%%jsBaseDir%%main.min.js" defer></script>
  <script src="%%jsBaseDir%%colorControl.min.js" async></script>
  <script id="%%cssPrefix%%loadedcss" type="text/html" async></script>

</head>
  <body>

<!-- start cb header -->
<!--#set var="cb_banner_add" value="0" -->
<!--#set var="cb_banner_file" value="%%bannersBaseDir%%cb_banner_connecticut.inc" -->
<!--#include virtual="/main/hfr_lite/cb_header_lite.inc" -->
<!-- end cb header -->

    <div id="qfcontent"><div id="spinner" role="alert" aria-busy="true"></div><div id="lookahead" role="alert"></div><div id="dialog" role="dialog"></div><div id="dialog-small" role="dialog"></div></div>

<!-- start cb footer -->
<!--#include virtual="/main/hfr_lite/cb_footer_lite.inc" -->
<!-- end cb footer -->

  </body>
</html>