<!DOCTYPE html>
<html lang="en" prefix="fb: http://www.facebook.com/2008/fbml og: http://opengraphprotocol.org/schema/">
<head>
  <!-- build %%buildVersion%% -->
  <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="keywords" content="" />
  <meta name="title" content="" />
  <meta name="description" content="" />
  <meta property="og:site_name" content="Census Bureau QuickFacts" />
  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="https:%%webhost%%%%imagesBaseDir%%census-logo-fb1.png" />
  <title></title>
  <link rel="icon" type="image/vnd.microsoft.icon" href="%%faviconPath%%"/>
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="%%faviconPath%%"/>
  <link rel="stylesheet" href="%%cssBaseDir%%main.php">
  <script src="%%jsBaseDir%%jquery-3.1.1.min.js"></script>
  <script src="%%jsBaseDir%%jquery-ui.min.js"></script>
  <script id="%%cssPrefix%%mvc"></script>
  <script>var $QF = $.noConflict(); </script>
  <script src="%%jsBaseDir%%main.php"></script>
  <script src="%%jsBaseDir%%colorControl.min.js"></script>
  <script id="%%cssPrefix%%loadedcss" type="text/html"></script>
</head>
  <body>

    <div id="qfcontent"><div id="spinner"></div><div id="dialog"></div><div id="dialog-small"></div></div>

  </body>
</html>