<div class="qf-faq">
  <div class="qf-faq-accordion">
    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h3 itemprop="name">What's New? (data release dates)</h3>
      <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text" itemscope itemtype="https://schema.org/ItemList">
          <link itemprop="itemListOrder" href="https://schema.org/ItemListOrderDescending" />
          <link id="vEvent" itemprop="url" href="https://www.census.gov/quickfacts/" />

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Facts updated for Counties and Municipios on <time itemprop="startDate" datetime="2025-03-13">3/13/25</time></p>
            <meta itemprop="endDate" content="2025-03-13"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Population estimates, July 1, 2024, (V2024)</li>
              <li itemprop="itemListElement">Population estimates base, April 1, 2020, (V2024)</li>
              <li itemprop="itemListElement">Population, percent change - April 1, 2020 (estimates base) to July 1, 2024, (V2024)</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Facts updated for U.S., States, Puerto Rico, Counties, Municipios, Places, and Minor Civil Divisions on <time itemprop="startDate" datetime="2025-01-30">1/30/25</time></p>
            <meta itemprop="endDate" content="2025-01-30"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Total accommodation and food services sales, 2022 ($1,000)</li>
              <li itemprop="itemListElement">Total health care and social assistance receipts/revenue, 2022 ($1,000) </li>
              <li itemprop="itemListElement">Total transportation and warehousing receipts/revenue, 2022 ($1,000)</li>
              <li itemprop="itemListElement">Total retail sales, 2022 ($1,000)</li>
              <li itemprop="itemListElement">Total retail sales per capita, 2022</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Facts updated for U.S., States, Counties, Places, and Minor Civil Divisions on <time itemprop="startDate" datetime="2025-01-30">1/30/25</time></p>
            <meta itemprop="endDate" content="2025-01-30"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">All employer firms, Reference year 2022</li>
              <li itemprop="itemListElement">Men-owned employer firms, Reference year 2022</li>
              <li itemprop="itemListElement">Women-owned employer firms, Reference year 2022</li>
              <li itemprop="itemListElement">Minority-owned employer firms, Reference year 2022</li>
              <li itemprop="itemListElement">Nonminority-owned employer firms, Reference year 2022</li>
              <li itemprop="itemListElement">Veteran-owned employer firms, Reference year 2022</li>
              <li itemprop="itemListElement">Nonveteran-owned employer firms, Reference year 2022</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Facts updated for U.S., States, and Puerto Rico on <time itemprop="startDate" datetime="2024-12-19">12/19/24</time></p>
            <meta itemprop="endDate" content="2024-12-19"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Population estimates, July 1, 2024, (V2024)</li>
              <li itemprop="itemListElement">Population estimates base, April 1, 2020, (V2024)</li>
              <li itemprop="itemListElement">Population, percent change - April 1, 2020 (estimates base) to July 1, 2024, (V2024)</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Fact updated for Counties on <time itemprop="startDate" datetime="2024-12-17">12/17/24</time></p>
            <meta itemprop="endDate" content="2024-12-12"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Persons in poverty, percent, 2023</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Facts updated for U.S., States, Puerto Rico, Counties, Municipios, Places, Zona Urbanas, Comunidades, and Minor Civil Divisions on <time itemprop="startDate" datetime="2024-12-12">12/12/24</time></p>
            <meta itemprop="endDate" content="2024-12-12"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Veterans, 2019-2023</li>
              <li itemprop="itemListElement">Foreign-born persons, percent, 2019-2023</li>
              <li itemprop="itemListElement">Owner-occupied housing unit rate, 2019-2023</li>
              <li itemprop="itemListElement">Median value of owner-occupied housing units, 2019-2023</li>
              <li itemprop="itemListElement">Median selected monthly owner costs -with a mortgage, 2019-2023</li>
              <li itemprop="itemListElement">Median selected monthly owner costs -without a mortgage, 2019-2023</li>
              <li itemprop="itemListElement">Median gross rent, 2019-2023 </li>
              <li itemprop="itemListElement">Households, 2019-2023</li>
              <li itemprop="itemListElement">Persons per household, 2019-2023</li>
              <li itemprop="itemListElement">Living in same house 1 year ago, percent of persons age 1 year+, 2019-2023</li>
              <li itemprop="itemListElement">Language other than English spoken at home, percent of persons age 5 years+, 2019-2023</li>
              <li itemprop="itemListElement">Households with a computer, percent. 2019-2023</li>
              <li itemprop="itemListElement">Households with a broadband Internet subscription, percent, 2019-2023</li>
              <li itemprop="itemListElement">High school graduate or higher, percent of persons age 25 years+, 2019-2023</li>
              <li itemprop="itemListElement">Bachelor's degree or higher, percent of persons age 25 years+, 2019-2023</li>
              <li itemprop="itemListElement">With a disability, under age 65 years, percent, 2019-2023</li>
              <li itemprop="itemListElement">In civilian labor force, total, percent of population age 16 years+, 2019-2023</li>
              <li itemprop="itemListElement">In civilian labor force, female, percent of population age 16 years+, 2019-2023</li>
              <li itemprop="itemListElement">Mean travel time to work (minutes), workers age 16 years+, 2019-2023</li>
              <li itemprop="itemListElement">Median household income (in 2022 dollars), 2019-2023</li>
              <li itemprop="itemListElement">Per capita income in past 12 months (in 2022 dollars), 2019-2023</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Facts updated for Municipios, Places, Zona Urbanas, Comunidades, and Minor Civil Divisions on <time itemprop="startDate" datetime="2024-12-12">12/12/24</time></p>
            <meta itemprop="endDate" content="2024-12-12"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Persons without health insurance, under age 65 years, percent, 2019-2023</li>
              <li itemprop="itemListElement">Persons in poverty, percent, 2019-2023</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Facts updated for Places, Zona Urbanas, Comunidades, and Minor Civil Divisions on <time itemprop="startDate" datetime="2024-12-12">12/12/24</time></p>
            <meta itemprop="endDate" content="2024-12-12"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Persons under 5 years, percent, 2019-2023</li>
              <li itemprop="itemListElement">Persons under 18 years, percent, 2019-2023</li>
              <li itemprop="itemListElement">Persons 65 years and over, percent, 2019-2023</li>
              <li itemprop="itemListElement">Female persons, percent, 2019-2023</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Facts updated for Puerto Rico, Municipios, Places, Zona Urbanas, Comunidades, and Minor Civil Divisions on <time itemprop="startDate" datetime="2024-12-12">12/12/24</time></p>
            <meta itemprop="endDate" content="2024-12-12"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">White alone, percent, 2019-2023</li>
              <li itemprop="itemListElement">Black or African American alone, percent, 2019-2023</li>
              <li itemprop="itemListElement">American Indian and Alaska Native alone, percent, 2019-2023</li>
              <li itemprop="itemListElement">Asian alone, percent, 2019-2023</li>
              <li itemprop="itemListElement">Native Hawaiian and Other Pacific Islander alone, percent, 2019-2023</li>
              <li itemprop="itemListElement">Two or More Races, percent, 2019-2023</li>
              <li itemprop="itemListElement">Hispanic or Latino, percent, 2019-2023</li>
              <li itemprop="itemListElement">White alone, not Hispanic or Latino, percent, 2019-2023</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Fact updated for U.S., States, and Counties on <time itemprop="startDate" datetime="2024-12-12">12/12/24</time></p>
            <meta itemprop="endDate" content="2024-12-12"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Total nonemployer establishments, 2022</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Facts updated for States and Puerto Rico on <time itemprop="startDate" datetime="2024-09-12">9/12/24</time></p>
            <meta itemprop="endDate" content="2024-09-12"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Persons without health insurance, under age 65 years, percent, 2023</li>
              <li itemprop="itemListElement">Persons in poverty, percent, 2023</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Facts updated for the U.S on <time itemprop="startDate" datetime="2024-09-10">9/10/24</time></p>
            <meta itemprop="endDate" content="2024-09-10"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Persons without health insurance, under age 65 years, percent, 2023</li>
              <li itemprop="itemListElement">Persons in poverty, percent, 2023</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Fact updated for Counties on <time itemprop="startDate" datetime="2024-07-25">7/25/24</time></p>
            <meta itemprop="endDate" content="2024-07-25"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Persons without health insurance, under age 65 years, percent, 2022</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Facts updated for U.S., States, and Counties (Source: Population Estimates) on <time itemprop="startDate" datetime="2024-06-27">6/27/24</time></p>
            <meta itemprop="endDate" content="2024-06-27"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Persons under 5 years, percent, July 1, 2023, (V2023)</li>
              <li itemprop="itemListElement">Persons under 18 years, percent, July 1, 2023, (V2023)</li>
              <li itemprop="itemListElement">Persons 65 years and over, percent, July 1, 2023, (V2023)</li>
              <li itemprop="itemListElement">Female persons, percent, July 1, 2023, (V2023)</li>
              <li itemprop="itemListElement">White alone, percent, July 1, 2023, (V2023)</li>
              <li itemprop="itemListElement">Black or African American alone, percent, July 1, 2023, (V2023)</li>
              <li itemprop="itemListElement">American Indian and Alaska Native alone, percent, July 1, 2023, (V2023)</li>
              <li itemprop="itemListElement">Asian alone, percent, July 1, 2023, (V2023)</li>
              <li itemprop="itemListElement">Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2023, (V2023)</li>
              <li itemprop="itemListElement">Two or More Races, percent, July 1, 2023, (V2023)</li>
              <li itemprop="itemListElement">Hispanic or Latino, percent, July 1, 2023, (V2023)</li>
              <li itemprop="itemListElement">White alone, not Hispanic or Latino, percent, July 1, 2023, (V2023)</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Facts updated for Puerto Rico and Municipios (Source: Population Estimates) on <time itemprop="startDate" datetime="2024-06-27">6/27/24</time></p>
            <meta itemprop="endDate" content="2024-06-27"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Persons under 5 years, percent, July 1, 2023, (V2023)</li>
              <li itemprop="itemListElement">Persons under 18 years, percent, July 1, 2023, (V2023)</li>
              <li itemprop="itemListElement">Persons 65 years and over, percent, July 1, 2023, (V2023)</li>
              <li itemprop="itemListElement">Female persons, percent, July 1, 2023, (V2023)Female persons, percent, July 1, 2023, (V2023)</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Facts updated for U.S., States, Puerto Rico, Counties, and Municipios (Source: Population Estimates) on <time itemprop="startDate" datetime="2024-06-27">6/27/24</time></p>
            <meta itemprop="endDate" content="2024-06-27"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Total employer establishments, 2022</li>
              <li itemprop="itemListElement">Total employment, 2022</li>
              <li itemprop="itemListElement">Total annual payroll, 2022 ($1,000)</li>
              <li itemprop="itemListElement">Total employment, percent change, 2021-2022</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Facts Updated for Places and Minor Civil Divisions on <time itemprop="startDate" datetime="2024-05-16">5/16/24</time></p>
            <meta itemprop="endDate" content="2024-05-16"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Population Estimates, July 1, 2023 (V2023)</li>
              <li itemprop="itemListElement">Population Estimates base, April 1, 2020 (V2023)</li>
              <li itemprop="itemListElement">Population, Percent Change - April 1, 2020 (estimates base) to July 1, 2023, (V2023)</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Facts Updated for U.S., States, and Counties on <time itemprop="startDate" datetime="2024-05-16">5/16/24</time></p>
            <meta itemprop="endDate" content="2024-05-16"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Housing Units, July 1, 2023 (V2023)</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Facts Updated for U.S., States, and Counties on <time itemprop="startDate" datetime="2024-05-16">5/16/24</time></p>
            <meta itemprop="endDate" content="2024-05-16"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Building Permits, 2023</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Facts updated for Counties and Municipios on <time itemprop="startDate" datetime="2024-03-14">3/14/24</time></p>
            <meta itemprop="endDate" content="2024-03-14"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Population estimates, July 1, 2023, (V2023)</li>
              <li itemprop="itemListElement">Population estimates base, April 1, 2020, (V2023)</li>
              <li itemprop="itemListElement">Population, percent change - April 1, 2020 (estimates base) to July 1, 2023, (V2023)</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Fact updated for U.S., States, and Counties on <time itemprop="startDate" datetime="2024-03-14">3/14/24</time></p>
            <meta itemprop="endDate" content="2024-03-14"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Total nonemployer establishments, 2021</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Facts updated for U.S., States, and Puerto Rico on <time itemprop="startDate" datetime="2023-12-19">12/19/23</time></p>
            <meta itemprop="endDate" content="2023-12-19"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Population estimates, July 1, 2023, (V2023)</li>
              <li itemprop="itemListElement">Population estimates base, April 1, 2020, (V2023)</li>
              <li itemprop="itemListElement">Population, percent change - April 1, 2020 (estimates base) to July 1, 2023, (V2023)</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Fact updated for Counties on <time itemprop="startDate" datetime="2023-12-14">12/14/23</time></p>
            <meta itemprop="endDate" content="2023-12-14"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Persons in poverty, percent, 2022</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Facts updated for U.S., States, Puerto Rico, Counties, Municipios, Places, Zona Urbanas, Comunidades, and Minor Civil Divisions on <time itemprop="startDate" datetime="2023-12-07">12/7/23</time></p>
            <meta itemprop="endDate" content="2023-12-07"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Veterans, 2018-2022</li>
              <li itemprop="itemListElement">Foreign-born persons, percent, 2018-2022</li>
              <li itemprop="itemListElement">Owner-occupied housing unit rate, 2018-2022</li>
              <li itemprop="itemListElement">Median value of owner-occupied housing units, 2018-2022</li>
              <li itemprop="itemListElement">Median selected monthly owner costs -with a mortgage, 2018-2022</li>
              <li itemprop="itemListElement">Median selected monthly owner costs -without a mortgage, 2018-2022</li>
              <li itemprop="itemListElement">Median gross rent, 2018-2022 </li>
              <li itemprop="itemListElement">Households, 2018-2022</li>
              <li itemprop="itemListElement">Persons per household, 2018-2022</li>
              <li itemprop="itemListElement">Living in same house 1 year ago, percent of persons age 1 year+, 2018-2022</li>
              <li itemprop="itemListElement">Language other than English spoken at home, percent of persons age 5 years+, 2018-2022</li>
              <li itemprop="itemListElement">Households with a computer, percent. 2018-2022</li>
              <li itemprop="itemListElement">Households with a broadband Internet subscription, percent, 2018-2022</li>
              <li itemprop="itemListElement">High school graduate or higher, percent of persons age 25 years+, 2018-2022</li>
              <li itemprop="itemListElement">Bachelor's degree or higher, percent of persons age 25 years+, 2018-2022</li>
              <li itemprop="itemListElement">With a disability, under age 65 years, percent, 2018-2022</li>
              <li itemprop="itemListElement">In civilian labor force, total, percent of population age 16 years+, 2018-2022</li>
              <li itemprop="itemListElement">In civilian labor force, female, percent of population age 16 years+, 2018-2022</li>
              <li itemprop="itemListElement">Mean travel time to work (minutes), workers age 16 years+, 2018-2022</li>
              <li itemprop="itemListElement">Median household income (in 2022 dollars), 2018-2022</li>
              <li itemprop="itemListElement">Per capita income in past 12 months (in 2022 dollars), 2018-2022</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Facts updated for Municipios, Places, Zona Urbanas, Comunidades, and Minor Civil Divisions on <time itemprop="startDate" datetime="2023-12-07">12/7/23</time></p>
            <meta itemprop="endDate" content="2023-12-07"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Persons without health insurance, under age 65 years, percent, 2018-2022</li>
              <li itemprop="itemListElement">Persons in poverty, percent, 2018-2022</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Facts updated for Places, Zona Urbanas, Comunidades, and Minor Civil Divisions on <time itemprop="startDate" datetime="2023-12-07">12/7/23</time></p>
            <meta itemprop="endDate" content="2023-12-07"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Persons under 5 years, percent, 2018-2022</li>
              <li itemprop="itemListElement">Persons under 18 years, percent, 2018-2022</li>
              <li itemprop="itemListElement">Persons 65 years and over, percent, 2018-2022</li>
              <li itemprop="itemListElement">Female persons, percent, 2018-2022</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Facts updated for Puerto Rico, Municipios, Places, Zona Urbanas, Comunidades, and Minor Civil Divisions on <time itemprop="startDate" datetime="2023-12-07">12/7/23</time></p>
            <meta itemprop="endDate" content="2023-12-07"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">White alone, percent, 2018-2022</li>
              <li itemprop="itemListElement">Black or African American alone, percent, 2018-2022</li>
              <li itemprop="itemListElement">American Indian and Alaska Native alone, percent, 2018-2022</li>
              <li itemprop="itemListElement">Asian alone, percent, 2018-2022 </li>
              <li itemprop="itemListElement">Native Hawaiian and Other Pacific Islander alone, percent, 2018-2022</li>
              <li itemprop="itemListElement">Two or More Races, percent, 2018-2022</li>
              <li itemprop="itemListElement">Hispanic or Latino, percent, 2018-2022 </li>
              <li itemprop="itemListElement">White alone, not Hispanic or Latino, percent, 2018-2022</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Facts updated for States and Puerto Rico on <time itemprop="startDate" datetime="2023-09-14">9/14/23</time></p>
            <meta itemprop="endDate" content="2023-09-14"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Persons without health insurance, under age 65 years, percent, 2022</li>
              <li itemprop="itemListElement">Persons in poverty, percent, 2022</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Facts updated for the U.S on <time itemprop="startDate" datetime="2023-09-12">9/12/23</time></p>
            <meta itemprop="endDate" content="2023-09-12"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Persons without health insurance, under age 65 years, percent, 2022</li>
              <li itemprop="itemListElement">Persons in poverty, percent, 2022</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Fact updated for U.S., States, and Counties on <time itemprop="startDate" datetime="2023-08-17">8/17/23</time></p>
            <meta itemprop="endDate" content="2023-08-17"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Total nonemployer establishments, 2020</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Fact updated for Counties on <time itemprop="startDate" datetime="2023-08-03">8/3/23</time></p>
            <meta itemprop="endDate" content="2023-08-03"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Persons without health insurance, under age 65 years, percent, 2021</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Facts updated for U.S., States, and Counties (Source: Population Estimates) on <time itemprop="startDate" datetime="2023-06-22">6/22/23</time></p>
            <meta itemprop="endDate" content="2023-06-22"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Persons under 5 years, percent, July 1, 2022, (V2022)</li>
              <li itemprop="itemListElement">Persons under 18 years, percent, July 1, 2022, (V2022)</li>
              <li itemprop="itemListElement">Persons 65 years and over, percent, July 1, 2022, (V2022)</li>
              <li itemprop="itemListElement">Female persons, percent, July 1, 2022, (V2022)</li>
              <li itemprop="itemListElement">White alone, percent, July 1, 2022, (V2022)</li>
              <li itemprop="itemListElement">Black or African American alone, percent, July 1, 2022, (V2022)</li>
              <li itemprop="itemListElement">American Indian and Alaska Native alone, percent, July 1, 2022, (V2022)</li>
              <li itemprop="itemListElement">Asian alone, percent, July 1, 2022, (V2022) </li>
              <li itemprop="itemListElement">Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2022, (V2022)</li>
              <li itemprop="itemListElement">Two or More Races, percent, July 1, 2022, (V2022)</li>
              <li itemprop="itemListElement">Hispanic or Latino, percent, July 1, 2022, (V2022) </li>
              <li itemprop="itemListElement">White alone, not Hispanic or Latino, percent, July 1, 2022, (V2022)</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Facts updated for Puerto Rico and Municipios (Source: Population Estimates) on <time itemprop="startDate" datetime="2023-06-22">6/22/23</time></p>
            <meta itemprop="endDate" content="2023-06-22"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Persons under 5 years, percent, July 1, 2022, (V2022)</li>
              <li itemprop="itemListElement">Persons under 18 years, percent, July 1, 2022, (V2022)</li>
              <li itemprop="itemListElement">Persons 65 years and over, percent, July 1, 2022, (V2022)</li>
              <li itemprop="itemListElement">Female persons, percent, July 1, 2022, (V2022)</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Facts Updated for Places and Minor Civil Divisions on <time itemprop="startDate" datetime="2023-05-18">5/18/23</time></p>
            <meta itemprop="endDate" content="2023-05-18"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Population Estimates, July 1, 2022 (V2022)</li>
              <li itemprop="itemListElement">Population Estimates base, April 1, 2020 (V2022)</li>
              <li itemprop="itemListElement">Population, Percent Change - April 1, 2020 (estimates base) to July 1, 2022, (V2022)</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Facts Updated for U.S., States, and Counties on <time itemprop="startDate" datetime="2023-05-18">5/18/23</time></p>
            <meta itemprop="endDate" content="2023-05-18"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Housing Units, July 1, 2022 (V2022)</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Fact updated for U.S., States, and Counties on <time itemprop="startDate" datetime="2023-05-11">5/11/23</time></p>
            <meta itemprop="endDate" content="2023-05-11"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Building permits, 2022</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Facts updated for U.S., States, Puerto Rico, Counties, and Municipios on <time itemprop="startDate" datetime="2023-04-27">4/27/23</time></p>
            <meta itemprop="endDate" content="2023-04-27"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Total employer establishments, 2021</li>
              <li itemprop="itemListElement">Total employment, 2021</li>
              <li itemprop="itemListElement">Total annual payroll, 2021 ($1,000)</li>
              <li itemprop="itemListElement">Total employment, percent change, 2020-2021</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Facts updated for Counties and Municipios on <time itemprop="startDate" datetime="2023-03-30">3/30/23</time></p>
            <meta itemprop="endDate" content="2023-03-30"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Population estimates, July 1, 2022, (V2022)</li>
              <li itemprop="itemListElement">Population estimates base, April 1, 2020, (V2022)</li>
              <li itemprop="itemListElement">Population, percent change - April 1, 2020 (estimates base) to July 1, 2022, (V2022)</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Facts updated for U.S., States, and Puerto Rico on <time itemprop="startDate" datetime="2022-12-22">12/22/22</time></p>
            <meta itemprop="endDate" content="2022-12-22"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Population estimates, July 1, 2022, (V2022)</li>
              <li itemprop="itemListElement">Population estimates base, April 1, 2020, (V2022)</li>
              <li itemprop="itemListElement">Population, percent change - April 1, 2020 (estimates base) to July 1, 2022, (V2022)</li>
            </ul>
          </div>

          <div itemprop="itemListElement" itemscope itemtype="http://schema.org/Event">
            <p class="updated" itemprop="name">Fact updated for Counties on <time itemprop="startDate" datetime="2022-12-15">12/15/22</time></p>
            <meta itemprop="endDate" content="2022-12-15"/>
            <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode"/>
            <meta itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation" itemref="vEvent" content=""/>
            <ul itemprop="description" itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Persons in poverty, percent, 2021</li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h3 itemprop="name">Why can't I find my ZIP Code?</h3>
      <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p>QuickFacts does not contain data for Postal ZIP Codes. Only States, Counties, Places, and Minor Civil Divisions (<abbr title="minor civil divisions">MCDs</abbr>) for Puerto Rico and the United States with populations above 5000. When you search via a ZIP code QuickFacts provides a list of near matches for the geographic types contained within the application. These near matches are created from <a href="https://www.census.gov/programs-surveys/geography/guidance/geo-areas/zctas.html" target="_blank">US Census Bureau ZIP Code Tabulation Areas (<abbr title="ZIP Code Tabulation Areas">ZCTAs</abbr>)</a> which are generalized area representations of United States Postal Service (USPS) ZIP Code service areas.</p>
          <p>Explore Census Data for <a href="https://data.census.gov/cedsci/table?g=0100000US%248610000" target="_blank">ZCTAs data and surveys</a>.</p>
        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h3 itemprop="name">Why are some cities, towns or zip codes missing in the dropdown menu?</h3>
      <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p>Geographies with populations below 5,000 are not currently shown in QuickFacts. If you don't see the area you are looking for, try checking <a href="https://data.census.gov/cedsci/">DATA.CENSUS.GOV</a>.</p>
        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h3 itemprop="name">Where can I get data for other levels of geography, like metropolitan areas?</h3>
      <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p>While not all geography types are available in QuickFacts profiles, there are a number of sources on <a href="https://www.census.gov/data.html">CENSUS.GOV</a>.</p>
        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h3 itemprop="name">How can I browse more datasets for my selected location?</h3>
      <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p>Whenever you see an orange magnifying glass <span class="qf-font-icon icon-search"></span>, click it for all the detailed links to other datasets.</p>
        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h3 itemprop="name">What is QuickFacts?</h3>
      <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p>QuickFacts is an easy to use application that provides tables, maps, and charts of frequently requested statistics from many Census Bureau censuses, surveys, and programs. Profiles are available for the nation, all 50 states plus the District of Columbia and Puerto Rico, and all counties. Cities and towns with a population of 5,000 or more are also included.</p>
        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h3 itemprop="name">How do I &#8220;Enter state, county, city, town, or ZIP code?&#8221;</h3>
      <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p>Begin typing the name of the geography or ZIP code. After the second character, a list of choices will appear on the drop down. Locate and select your area by single-clicking the mouse or by using the up and down arrows and then pressing the Enter/Return key. The Enter/Return key may also be used if only one geography appears or your highlighted selection is at the top of the list. This becomes one of your selected geographies and is added to the TABLE in the first data column, moving UNITED STATES to the second data column.</p>
        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h3 itemprop="name">How do I &#8220;SELECT A FACT?&#8221;</h3>
      <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p>Simply click on SELECT A FACT to show the dropdown list, which is grouped by topic. Scroll down to highlight the FACT you want and click on the FACT to select it. In addition, you can double click on the row of the FACT in the TABLE.</p>
        </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h3 itemprop="name">How do I narrow the results?</h3>
      <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <ul itemscope itemtype="https://schema.org/ItemList">
            <li itemprop="itemListElement">In TABLE view, click ALL TOPICS and select the topic you want. The table view will show only facts within that topic. To view all facts again, select ALL TOPICS.</li>
            <li itemprop="itemListElement">In MAP view, you can further narrow results down to counties, county subdivisions, or places by selecting a geography color-coded circle and a small pop-up window appears with further area selections to view. For example, if your selected geography is a city, and you chose a city in that state on the map, you will have the option to Add this geography to your table, view at the United States level or view the counties in that state.</li>
            <li itemprop="itemListElement">In CHART view, you can toggle between all geographies at the same level as your selected area or those you have selected by using the &#8216;Show selected locations' checkbox.</li>
          </ul>
        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h3 itemprop="name">In TABLE view, how many geographies can I see?</h3>
      <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p>TABLE view allows six geographies in the table. To add additional geographies use the search box. As you add geographies, they are added to the TABLE in the first data column, moving other geographies to the next column to the right. If there are more than one geography present, you may delete any geography by clicking the <span class="qf-font-icon icon-cancel-squared"></span> icon. An orange circle on the TABLE icon indicates the total number of geographies currently selected. This is visible throughout the application above the data views.</p>
        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h3 itemprop="name">In MAP view, how many geographies can I see? Can I zoom in and see data?</h3>
      <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p>There are 3 additional controls in addition to the zoom in/out and full screen controls:
            <ul itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Left Border Slide-out - Allows the user to quickly move to and remove their selected geographies.</li>
              <li itemprop="itemListElement">Switch Control in the upper right corner - Turns on the ability to select geographies across state boundaries.</li>
              <li itemprop="itemListElement">Toggle Button in the upper right corner - Toggles view between Townships and Places.</li>
            </ul>
          </p>
          <p>Clicking on a geography opens an info window. Within the info window you can:
            <ul itemscope itemtype="https://schema.org/ItemList">
              <li itemprop="itemListElement">Add or remove a geography to your selection.</li>
              <li itemprop="itemListElement">View the current selected fact's value and footnote notations.</li>
            </ul>
          </p>
          <p>The new switch and toggle button are present on the map only when needed. All new controls will be pointed out to the user with a &quot;NEW!&quot; tooltip when first presented to the user. Hovering over the new control will give the user a description of the control's function as well as its current status if applicable.</p>
          <p>Changing geography level is accomplished by zooming in/out. The progression as you zoom in is: States, Counties, Places & Townships. When zoomed into Places &amp; Townships level a toggle button will be available within the upper right map controls to swap between the two.</p>
          <p>When you select the MAP view icon, you are given a choice from your selected geographies to view one on the map. Once you click on a geography, you will see your selected geography outlined in red and all geographies at the same level. For example, if you selected a county, you will see all the counties in that state.</p>
          <p>Geographies with numeric fact values are placed in ascending order and distributed into five groups containing the same number of geographies. The geography groups are then shaded from cyan (lowest values) to dark cyan (highest values). The value range for these groups will depend on the fact and geographies that fall within the group. Geographies with non-numeric fact values and footnotes are shaded with colors other than cyan and assigned to a specific footnote.</p>
          <p>When viewing the entire US there are icons for Alaska, Hawaii and Puerto Rico in the corners that allow you to focus the map directly on those locations. When the map focuses on one of these locations their associated icon changes to the 48 contiguous states an allows you to reset the map to view the entire US.</p>
        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h3 itemprop="name">In CHART view, how many geographies can I see? Can I see data?</h3>
      <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p>When you select he CHART view icon, you are given a choice to &#8216;View Selected Locations' or choose one of the selected geographies. If you chose &#8216;View Selected Locations', you will see a chart for all selected geographies. If you only have one geography selected, the chart will open with this geography along with all sibling geographies. For example, if you have selected a state, you will see all the states, plus the District of Columbia and Puerto Rico. Hover over or click on each bar in the CHART to see the actual data value.</p>
        </div>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h3 itemprop="name">What do these icons mean and what happens when I click them?</h3>
      <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p>
            <span class="qf-font-icon icon-info-circled-1"></span>Click for additional information such as Sources, Definitions, and sometimes Margins of Error, or More Information.
          </p>
          <p>
            <span class="qf-font-icon icon-search"></span>Click for all the detailed links to other sets of data about the respective geography.
          </p>
          <p>
            <span class="qf-font-icon icon-ccw"></span>Click to set the application to its default state. This will remove all selected geographies and begin a new search. Your prior searches and results will not be saved.
          </p>
          <p>
            <span class="qf-font-icon icon-share-1"></span>Click to open the popup for all the download and share options.
          </p>
          <p>
            <span class="qf-font-icon icon-cancel-squared"></span>Click this icon to delete a geography.
          </p>
          <p>
            <span class="qf-font-icon icon-plus"></span>Click this icon to add a geography.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>