<div class="footnotes">
  <strong>Value Notes</strong>
  <ul id="note"></ul>
  <div id="sampling-error">
    <p><span class="note foot"><span class="top">&#59456;</span><span class="bottom">&#59455;</span></span>Estimate specific note.</p>
    <p><span class="note source"><span class="top">&#59456;</span><span class="bottom">&#59455;</span></span>Methodology differences may exist between data sources, and so estimates from different sources are not comparable.</p>

    <p>Some estimates presented here come from sample data, and thus have sampling errors that may render some apparent differences between geographies statistically
       indistinguishable. Click the Quick Info  <span id="quickinfo-icon">&#59444;</span> icon to the left of each row in TABLE view to learn about sampling error.</p>

    <p>The vintage year (e.g., V2024) refers to the final year of the series (2020 thru 2024). Different vintage years of estimates are not comparable.</p>

    <p>Users should exercise caution when comparing 2019-2023 ACS 5-year estimates to other ACS estimates. For more information, please visit
    the <a href="https://www.census.gov/programs-surveys/acs/guidance/comparing-acs-data/2023.html">2023 5-year ACS Comparison Guidance</a> page. </p>
  </div>

  <strong>Fact Notes</strong>
  <ul id="headnote">
    <li><span id="headnote-a">(a)</span>Includes persons reporting only one race</li>
    <li><span id="headnote-b">(b)</span>Hispanics may be of any race, so also are included in applicable race categories</li>
    <li><span id="headnote-c">(c)</span>Economic Census - Puerto Rico data are not comparable to U.S. Economic Census data</li>
  </ul>
  <strong>Value Flags</strong>
  <ul id="flag">
    <li><span id="flag-D">D</span>Suppressed to avoid disclosure of confidential information</li>
    <li><span id="flag-F">F</span>Fewer than 25 firms</li>
    <li><span id="flag-FN">FN</span>Footnote on this item in place of data</li>
    <li><span id="flag-NA">NA</span>Not available</li>
    <li><span id="flag-S">S</span>Suppressed; does not meet publication standards</li>
    <li><span id="flag-X">X</span>Not applicable</li>
    <li><span id="flag-Z">Z</span>Value greater than zero but less than half unit of measure shown</li>
    <li><span id="flag--">-</span>Either no or too few sample observations were available to compute an estimate, or a ratio of medians cannot be calculated because one or both of the median estimates falls in the lowest or upper interval of an open ended distribution.</li>
    <li><span id="flag-N">N</span>Data for this geographic area cannot be displayed because the number of sample cases is too small.</li>
  </ul>
  <div class="general">
    <p>QuickFacts data are derived from: Population Estimates, American Community Survey, Census of Population and Housing, Current Population Survey, Small Area Health Insurance Estimates, Small Area Income and Poverty Estimates, State and County Housing Unit Estimates, County Business Patterns, Nonemployer Statistics, Economic Census, Survey of Business Owners, Building Permits.</p>
  </div>
</div>
</div>
