<div class="notice">
  <p class="updated">Facts updated for U.S., States, Puerto Rico, Counties, Municipios, Places, and Minor Civil Divisions on 1/30/25</p>
  <ul>
    <li>Total accommodation and food services sales, 2022 ($1,000)</li>
    <li>Total health care and social assistance receipts/revenue, 2022 ($1,000) </li>
    <li>Total transportation and warehousing receipts/revenue, 2022 ($1,000)</li>
    <li>Total retail sales, 2022 ($1,000)</li>
    <li>Total retail sales per capita, 2022</li>
  </ul>

  <p class="updated">Facts updated for U.S., States, Counties, Places, and Minor Civil Divisions on 1/30/25</p>
  <ul>
    <li>All employer firms, Reference year 2022</li>
    <li>Men-owned employer firms, Reference year 2022</li>
    <li>Women-owned employer firms, Reference year 2022</li>
    <li>Minority-owned employer firms, Reference year 2022</li>
    <li>Nonminority-owned employer firms, Reference year 2022</li>
    <li>Veteran-owned employer firms, Reference year 2022</li>
    <li>Nonveteran-owned employer firms, Reference year 2022</li>
  </ul>
</div>