<div class="notice">
  <p class="updated">The U.S. Census Bureau's QuickFacts is a tool that provides statistics about the United States population, business, and geography.
  It's available for the nation, states, counties, cities, and towns with a population of more than 5,000.</p>

  <ul aria-label="What's included in QuickFacts?">
    <li>Demographic data, such as age, sex, race, ethnicity, disability, and veteran status </li>
    <li>Business data, such as the number of businesses, employment, and ownership </li>
    <li>Geography data, such as population density and land area </li>
    <li>Resilience data, such as poverty rate and median household income</li>
  </ul>

  <ul aria-label="How can I use QuickFacts?">
    <li>Search for a state, county, city, or town by name or zip code</li>
    <li>Select a topic or fact</li>
    <li>View the data in tables, maps, charts, or dashboards</li>
    <li>Print, embed on a website, or share via email or social media</li>
  </ul>
</div>