<!DOCTYPE html>
<html lang="en" prefix="fb: http://www.facebook.com/2008/fbml og: http://opengraphprotocol.org/schema/">
<head>
  <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="robots" content="noindex">
  <title></title>
  <link rel="stylesheet" href="%%cssBaseDir%%widget.css?%%nocache%%">
  <script src="%%jsBaseDir%%jquery-3.1.1.min.js"></script>
  <script src="%%jsBaseDir%%jquery-ui.min.js"></script>
  <script type="text/javascript">
    var $QF = $.noConflict();
  </script>
  <script src="%%jsBaseDir%%widget.php?%%nocache%%"></script>
  <script id="%%cssPrefix%%loadedcss" type="text/html"></script>
</head>
  <body>
    <div id="qfcontent"></div>
  </body>
</html>